html {
  --bg-gradient: 255, 255, 255, 0.1;
  --bg-gradient-home: 255, 255, 255;
  --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);

  // blog-item
  --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  --nav-bgc: rgba(255, 255, 255, 0.9);
  --badge-font-color: #4e5969;
  --description-font-color: #86909c;
  --blog-theme-color: #409eff;
  --vp-c-brand-1:#409eff!important;
  --vp-c-brand-2:#79bbff!important;
  --vp-c-brand-3:#a0cfff!important;
}

html[class='dark'] {
  --bg-gradient: 20, 20, 20;
  --bg-gradient-home: 20, 20, 20;
  --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
  --nav-bgc: rgba(0, 0, 0, 0.8);
  --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.7);
  --badge-font-color: #bdc3cc;
  --description-font-color: #9facba;
}